@import './globals.css';
@import './cssvars.css';
@import './cssvars-custom.css';
@import './antd-overwrite.css';
@import './component-utilities.css';

/* Base Styles */
html,
body {
  font-family: 'Inter', sans-serif;
}

[lang='zh-CN'] html,
[lang='zh-CN'] html body,
[lang='zh-HK'] html,
[lang='zh-HK'] html body {
  font-family: 'Inter', sans-serif;
}

[lang='ja'] html,
[lang='ja'] html body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}

button:focus {
  outline: none;
}

.subtitle {
  color: #707280;
  font-size: 14px;
  line-height: 14px;
}

/* Create New Header */
.create-new-header {
  position: relative;
  background: var(--r-blue-default, #7084ff);
  padding: 32px 20px;
}

.create-new-header .unlock-logo {
  border: 1px solid #fff;
  border-radius: 100%;
}

.create-new-header.res {
  padding: 0;
}

.create-new-header.res .mask {
  width: unset;
  max-width: none;
  left: 50%;
  transform: translateX(-50%);
}

.create-new-header.res .rabby-container {
  padding: 16px 20px 32px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.create-new-header .icon-back {
  margin-bottom: 40px;
  cursor: pointer;
}

.create-new-header .rabby-logo {
  width: 120px;
  margin-left: 12px;
  opacity: 0.6;
}

.create-new-header .mask {
  position: absolute;
  user-select: none;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Stray Page */
@media (min-width: 401px) {
  .rabby-stray-page {
    background-color: var(--r-neutral-bg-2, #f2f4f7);
    height: 100%;
  }

  .rabby-stray-page .footer {
    background-color: #fff;
    bottom: 0 !important;
  }

  .rabby-stray-page .footer > div {
    width: 400px !important;
    margin: 0 auto;
    border-top: 0;
  }

  .rabby-stray-page .footer .ant-btn {
    height: 42px !important;
  }
}

.stray-page .stray-footer-nav {
  background-color: var(--r-neutral-card-1, #fff);
  border-top: 0.5px solid var(--r-neutral-line, #d3d8e0);
}

.stray-page .stray-footer-nav .ant-btn {
  height: 42px !important;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  width: auto !important;
  min-width: 155px;
}

.stray-page .ant-input {
  border-color: transparent;
  background: var(--r-neutral-card-1, #fff);
  color: var(--r-neutral-title-1, #192945);
}

.stray-page-wide.stray-page-wide .stray-footer-nav {
  background-color: transparent;
  border-top: none !important;
}

/* Ledger Page */
.ledger-page {
  @media (min-width: 600px) {
    top: calc(50% + 24px - 100px) !important;
  }
}

.ledger-page .ledger-banner {
  position: absolute;
  bottom: -230px;
  left: 0;
}

.ledger-page .stray-footer-nav {
  width: 222px !important;
  margin: auto;
}

.ledger-page .stray-footer-nav .ant-btn {
  height: 52px !important;
}

/* Import Watch Mode */
.import-watchmode {
  min-height: 100%;
  background-color: #f5f6fa;
}

.import-watchmode .tags {
  margin: -4px 0 16px;
  padding: 0 20px;
  display: flex;
}

.import-watchmode .tags li {
  padding: 5px 10px;
  border: 1px solid #e5e9ef;
  border-radius: 2px;
  font-size: 12px;
  line-height: 14px;
  color: #707880;
}

.import-watchmode .ant-form-item {
  margin-bottom: 16px;
}

.import-watchmode__button {
  display: flex;
  justify-content: center;
  padding: 11px 0;
  font-size: 12px;
  line-height: 14px;
  color: var(--r-neutral-title-1, #192945);
  background: var(--r-neutral-card-1, #fff);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.import-watchmode__button .icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.import-watchmode .ens-search {
  position: absolute;
  padding: 4px;
  border-radius: 6px;
  background-color: #fff;
  width: 360px;
  top: calc(100% + 8px);
  left: 50%;
  margin-left: -180px;
  cursor: pointer;
  user-select: none;
}

.import-watchmode .ens-search__inner {
  background-color: var(--r-blue-light-1, #eef1ff);
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  color: var(--r-neutral-title-1, #192945);
}

.import-watchmode .icon-checked {
  width: 24px;
  height: 24px;
}

.import-watchmode .ant-input-affix-wrapper {
  line-height: 1;
  border-radius: 6px;
}

.import-watchmode .ant-input-affix-wrapper .ant-input {
  border-radius: 0;
}

/* WalletConnect Modal */
.walletconnect-modal .ant-modal-content {
  background-color: #fff;
  height: 365px;
}

.walletconnect-modal .ant-drawer-body {
  padding-top: 32px;
}

.walletconnect-modal .guide {
  color: var(--r-neutral-title-1, #192945);
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  width: 239px;
  margin: 0 auto 24px;
}

.walletconnect-modal .symbol {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #3b99fd;
  margin-bottom: 16px;
}

.walletconnect-modal .symbol .icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.walletconnect-modal .qrcode {
  padding: 10px;
  border: 1px solid #e5e9ef;
  border-radius: 12px;
  margin: 0 auto;
  width: 200px;
}

.walletconnect-modal .qrcode canvas {
  margin: 0;
}

.walletconnect-modal .qrcode video {
  margin: 0;
  object-fit: cover;
  border-radius: 8px;
  background-color: #b4bdcc;
}

.walletconnect-modal .icon-arrow-down {
  width: 28px;
  height: 28px;
  margin: 13px auto;
}

/* Uploader */
.uploader {
  border-color: transparent;
  border-width: 1px;
  transition: border 0.2s;
}

.uploader:hover {
  border-color: #b0bdff;
}

/* Toast Styles */
.rectangle-toast .ant-message-notice-content {
  border-radius: 2px;
}

.refresh-toast {
  color: #fff;
  font-size: 12px;
}

.refresh-toast .anticon-info-circle {
  display: none;
}

/* Welcome */
.welcome .ant-btn:hover {
  box-shadow: 0px 16px 20px rgba(37, 51, 137, 0.12);
}

/* Slogan */
.slogan {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 100%;
  margin: 0;
}

/* Notification Page */
@media (min-width: 401px) {
  html.page-notification {
    background: var(--r-neutral-bg-3, #f7fafc);
    overflow: hidden;
  }

  html.page-notification body {
    max-width: 400px;
    margin: 0 auto;
  }
}

/* Rabby Container */
.rabby-container {
  width: 100%;
}

@media (min-width: 401px) {
  .rabby-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Ghost Button */
.rabby-btn-ghost.ant-btn-primary.ant-btn-background-ghost:hover {
  background: var(--r-blue-light-2, #eef1ff) !important;
  color: var(--r-blue-default, #7084ff);
  box-shadow: none;
}

.rabby-btn-ghost.ant-btn-primary.ant-btn-background-ghost:hover::before {
  opacity: 0;
}

.rabby-btn-ghost.ant-btn-primary.ant-btn-background-ghost:disabled {
  color: var(--r-blue-default, #7084ff) !important;
}

/* Input Password Popup */
.input-password-popup {
  max-width: 400px;
  margin: auto;
  left: 0;
  right: 0;
}

.input-password-popup.has-desc .ant-drawer-body {
  padding-top: 12px;
}

/* Page with Ant Input */
.page-has-ant-input .ant-input,
.widget-has-ant-input .ant-input {
  border-color: transparent;
  background: var(--r-neutral-card-1, #fff);
  color: var(--r-neutral-title-1, #192945);
}

.page-has-ant-input .ant-input-number,
.widget-has-ant-input .ant-input-number {
  border-color: transparent;
  background: var(--r-neutral-card-1, #fff);
  color: var(--r-neutral-title-1, #192945);
}

.page-has-ant-input .ant-input-number .ant-input-number-input,
.widget-has-ant-input .ant-input-number .ant-input-number-input {
  background-color: transparent;
}

.page-has-ant-input .ant-input-affix-wrapper,
.widget-has-ant-input .ant-input-affix-wrapper {
  border-color: var(--r-neutral-line, rgba(255, 255, 255, 0.1));
}

.page-has-ant-input.rabby-input-pure-bg .ant-input,
.page-has-ant-input.rabby-input-pure-bg .ant-input-affix-wrapper,
.widget-has-ant-input.rabby-input-pure-bg .ant-input,
.widget-has-ant-input.rabby-input-pure-bg .ant-input-affix-wrapper {
  background-color: var(--r-neutral-card-1, #fff) !important;
}

.page-has-ant-input .ant-form-item-has-error .ant-input,
.page-has-ant-input .ant-form-item-has-error .ant-input:hover,
.widget-has-ant-input .ant-form-item-has-error .ant-input,
.widget-has-ant-input .ant-form-item-has-error .ant-input:hover {
  background-color: var(--r-neutral-card-1, #fff) !important;
  border-color: var(--r-red-default);
}

/* Text Gradient */
.text-gradient {
  background: linear-gradient(132.94deg, #2abb7f 5.01%, #fe6949 95.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* External Link Alert Modal */
.external-link-alert-modal {
  background: var(--r-neutral-bg-1);
  border-radius: 16px;
  overflow: hidden;
  padding-bottom: 0;
}

.external-link-alert-modal .ant-modal-confirm-title {
  font-size: 16px;
}

.external-link-alert-modal .ant-modal-confirm-content {
  padding: 0;
  background: var(--r-neutral-bg-1);
  margin-bottom: 0 !important;
}

.external-link-alert-modal .ant-modal-content {
  background: var(--r-neutral-bg-1);
  box-shadow: none;
}

.external-link-alert-modal .ant-modal-body {
  padding: 20px;
}

/* Hide Scrollbar */
.js-rabby-popup-container::-webkit-scrollbar {
  display: none;
}

.global-desktop-modal::-webkit-scrollbar {
  display: none;
}

.global-desktop-modal .ant-modal-content {
  border: none;
}
